.deck_details_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 70vw;
  height: 100%;

  .oval_spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .deck_details_heading {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;

    .deck_details_heading_deck {
      border: 1px solid white;
      border-radius: 10px;
      width: 40%;
      height: 250px;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .deck_details_heading_deck_details {
      border: 1px solid white;
      width: 55%;
      height: 250px;
      display: flex;
      flex-direction: column;
    }
    
  }

  .deck_details_questions_list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
  }
}