.deck_q_a_container {
  position: relative;
  border: 1px solid white;
  border-radius: 10px;
  width: 100%;
  height: 90px;
  transition: height 500ms;

  display: flex;
  flex-direction: column;
  gap: 20px;

  overflow: hidden;

  .deck_question_button_container {
    width: 100%;
    border-radius: 10px;
    height: 80px;
    padding-left: 20px;
    padding-right: 10px;
    display: flex;
    gap: 2px;
    justify-content: space-between;
    background-color: rgb(0, 0, 35);
    // border: 1px solid white;

    .deck_q_a_question {
      overflow: scroll;
      width: 100%;
      height: 85px;
      padding: 10px 5px;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .deck_q_a_buttons_container {
      display: flex;
      align-items: center;
      font-size: 25px;
      cursor: pointer;
    }
  }

  .deck_q_a_answer_container {
    border-radius: 10px;
    width: 100%;

    display: flex;
    align-items: center;
    padding: 0px 20px;

    .deck_q_a_answer {
      height: 90px;
      overflow: scroll;
      padding: 10px 5px 15px;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.showAnswer {
  height: 200px;
}
