.deck_settings_container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  width: 100%;

  .deck_name_container {
    border: 1px solid white;
    border-radius: 10px;
    width: 40%;
    height: 250px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .deck_settings {
    border: 1px solid white;
    min-width: 55%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-right: 10px;

    .deck_setting_container {
      // border: 1px solid white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      .deck_setting_label {
        // border: 1px solid white;
        width: 120px;
        font-size: 22px;
      }

      .deck_setting {
        width: 200px;
        font-size: 20px;
        margin-left: 10px;
        display: flex;
        justify-content: center;
      }

      .edit_setting_icon {
        width: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        padding: 5px;
        cursor: pointer;
      }

      .icons {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 70px;
        font-size: 25px;
        padding: 5px;
        margin-left: 5px;

        .confirm_cancel_container {
          display: flex;
          gap: 8px;
        }

        .edit_icon,
        .cancel_icon,
        .confirm_icon {
          cursor: pointer;
          display: flex;
          align-items: center;
        }
      }

      .deck_imported_setting {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }
  
}